<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    {% set JS = '/app/Views/js' %}
    {% set CSS = '/app/Views/css' %}
    <link href="{{ CSS }}/assets/css/font-awesome.css" rel="stylesheet">
    <link href="{{ CSS }}/assets/css/docs.css" rel="stylesheet">
    <link href="{{ CSS }}/bootstrap-social.css" rel="stylesheet">
    <script type="text/javascript" src="{{ JS }}/get_data.js"></script>
    <script type="text/javascript" src="{{ JS }}/notifications.js"></script>
    <script type="text/javascript" src="{{ JS }}/changeVisibility.js"></script>

    <title>
        {% block title %}{% endblock %}
    </title>
</head>

<body>


Sort by:
<select id="what">
    <option id="day" value="day">Day</option>
    <option id="month" value="month">Month</option>
    <option id="year" value="year">Year</option>
    <option id="all" value="all">All</option>
</select>
<br>
<form style="display: none;" id="monthForm" method="GET" action="/dane">
    <select name="kind">
        <option value="politic">Politic</option>
        <option value="sport">Sport</option>
        <option value="anything">Anything</option>
        <option value="music">Music</option>
    </select>

    <input hidden name="what" value="month"></input>

    <select name="number">
        {% for i in 0..12 %}
            {% if i|length == 1 %}
                <option value="0{{ i }}">{{ i }}</option>
            {% else %}
                <option value="{{ i }}">{{ i }}</option>
            {% endif %}
        {% endfor %}
    </select>
    <button value="sort">Sortuj</button>
</form>

<form style="display: none;" id="dayForm" method="GET" action="/dane">
    <select name="kind">
        <option value="politic">Politic</option>
        <option value="sport">Sport</option>
        <option value="anything">Anything</option>
        <option value="music">Music</option>
    </select>

    <input hidden name="what" value="day"></input>


    <select name="number">
        {% for i in 0..31 %}
            {% if i|length == 1 %}
                <option value="0{{ i }}">{{ i }}</option>
            {% else %}
                <option value="{{ i }}">{{ i }}</option>
            {% endif %}
        {% endfor %}
    </select>
    <button value="sort">Sortuj</button>
</form>

<form style="display: none;" id="yearForm" method="GET" action="/dane">
    <select name="kind">
        <option value="politico">Politic</option>
        <option value="sport">Sport</option>
        <option value="anything">Anything</option>
        <option value="music">Music</option>
    </select>

    <input hidden name="what" value="year"></input>

    <select name="number">
        <option value="2017">2017</option>
    </select>
    <button value="sort">Sortuj</button>
</form>

<form style="display: none;" id="allForm" method="GET" action="/dane">
    <select name="kind">
        <option value="politic">Politic</option>
        <option value="sport">Sport</option>
        <option value="anything">Anything</option>
        <option value="music">Music</option>
    </select>

    <input hidden name="what" value="all">
    miesiąc:
    <select name="month">
        {% for i in 1..12 %}
            {% if i|length == 1 %}
                <option value="0{{ i }}">{{ i }}</option>
            {% else %}
                <option value="{{ i }}">{{ i }}</option>
            {% endif %}
        {% endfor %}
    </select>
    dzień:
    <select name="day">
        {% for i in 1..31 %}
            {% if i|length == 1 %}
                <option value="0{{ i }}">{{ i }}</option>
            {% else %}
                <option value="{{ i }}">{{ i }}</option>
            {% endif %}
        {% endfor %}
    </select>
    rok:
    <select name="year">
        <option value="2017">2017</option>
    </select>
    <button value="sort">Sortuj</button>
</form>


{% block content %}

{% endblock %}

{% block login %}

{% endblock %}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>


</body>

</html>