<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    {% set JS = '/app/Views/js' %}
    {% set CSS = '/app/Views/css' %}
    <link href="{{ CSS }}/assets/css/font-awesome.css" rel="stylesheet">
    <link href="{{ CSS }}/assets/css/docs.css" rel="stylesheet">
    <link href="{{ CSS }}/bootstrap-social.css" rel="stylesheet">
    <link href="{{ CSS }}/main.css" rel="stylesheet">
    <script type="text/javascript" src="{{ JS }}/get_data.js"></script>
    <script type="text/javascript" src="{{ JS }}/notifications.js"></script>
    <script type="text/javascript" src="{{ JS }}/changeVisibility.js"></script>
    <script type="text/javascript" src="{{ JS }}/search.js"></script>

    <title>
        {% block title %}{% endblock %}
    </title>
</head>

<body>

<div>
    <div class="container-fluid" style="text-align: left">
        <fieldset>
            <legend>Wyszukiwarka</legend>
            <div class="row">
                <div style="text-align: right" class="col-md-1">Wyszukaj:</div>
                <div class="col-md-1">
                    <input onkeyup="showSearchInfo(this.value)" name="search" placeholder="Wpisz szukaną frazę">
                </div>
            </div>
        </fieldset>

        <div class="row">
            <br>
            <br>
        </div>

        <fieldset>
            <legend>Filtrowanie</legend>
            <div class="row">
                <div style="text-align: right" class="col-md-1">Filtruj wg:</div>
                <div class="col-md-1">
                    <select style="width: 80px" id="what">
                        <option id="day" value="day">Dnia</option>
                        <option id="month" value="month">Miesiąca</option>
                        <option id="year" value="year">Roku</option>
                        <option id="all" value="all">Daty</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <br>
            </div>
            <div>
                <form style="display: none;" id="monthForm" method="GET" action="/dane">
                    <div class="row">
                        <div style="text-align: right" class="col-md-1">Kategoria:</div>
                        <div class="col-md-1">
                            <select style="width: 80px" name="kind">
                                <option value="politic">Polityka</option>
                                <option value="sport">Sport</option>
                                <option value="anything">Ogólne</option>
                                <option value="music">Muzyka</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div style="text-align: right" class="col-md-1">Miesiąc:</div>
                        <div class="col-md-1">
                            <input hidden name="what" value="month"></input>

                            <select style="width: 80px" name="number">
                                {% for i in 0..12 %}
                                    {% if i|length == 1 %}
                                        <option value="0{{ i }}">{{ i }}</option>
                                    {% else %}
                                        <option value="{{ i }}">{{ i }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row"><br></div>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-1">
                            <button style="width: 80px" value="sort">Filtruj</button>
                        </div>
                    </div>
                </form>
            </div>

            <div>
                <form style="display: none;" id="dayForm" method="GET" action="/dane">
                    <div class="row">
                        <div style="text-align: right" class="col-md-1">Kategoria:</div>
                        <div class="col-md-1">
                            <select style="width: 80px" name="kind">
                                <option value="politic">Polityka</option>
                                <option value="sport">Sport</option>
                                <option value="anything">Ogólne</option>
                                <option value="music">Muzyka</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div style="text-align: right" class="col-md-1">Dzień:</div>
                        <div class="col-md-1">
                            <input hidden name="what" value="day"></input>

                            <select style="width: 80px" name="number">
                                {% for i in 0..31 %}
                                    {% if i|length == 1 %}
                                        <option value="0{{ i }}">{{ i }}</option>
                                    {% else %}
                                        <option value="{{ i }}">{{ i }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row"><br></div>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-1">
                            <button style="width: 80px" value="sort">Filtruj</button>
                        </div>
                    </div>
                </form>
            </div>

            <div>
                <form style="display: none;" id="yearForm" method="GET" action="/dane">
                    <div class="row">
                        <div style="text-align: right" class="col-md-1">Kategoria:</div>
                        <div class="col-md-1">
                            <select style="width: 80px" name="kind">
                                <option value="politic">Polityka</option>
                                <option value="sport">Sport</option>
                                <option value="anything">Ogólne</option>
                                <option value="music">Muzyka</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div style="text-align: right" class="col-md-1">Rok:</div>
                        <div class="col-md-1">
                            <input hidden name="what" value="year"></input>

                            <select style="width: 80px" name="number">
                                <option value="2017">2017</option>
                                <option value="2018">2018</option>
                            </select>
                        </div>
                    </div>
                    <div class="row"><br></div>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-1">
                            <button style="width: 80px" value="sort">Filtruj</button>
                        </div>
                    </div>
                </form>
            </div>

            <div>
                <form style="display: none;" id="allForm" method="GET" action="/dane">
                    <div class="row">
                        <div style="text-align: right" class="col-md-1">Kategoria:</div>
                        <div class="col-md-1">
                            <select style="width: 80px" name="kind">
                                <option value="politic">Polityka</option>
                                <option value="sport">Sport</option>
                                <option value="anything">Ogólne</option>
                                <option value="music">Muzyka</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div style="text-align: right" class="col-md-1">Dzień:</div>
                        <div class="col-md-1">
                            <select style="width: 80px" name="day">
                                {% for i in 1..31 %}
                                    {% if i|length == 1 %}
                                        <option value="0{{ i }}">{{ i }}</option>
                                    {% else %}
                                        <option value="{{ i }}">{{ i }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <input hidden name="what" value="all">
                        <div style="text-align: right" class="col-md-1">Miesiąc:</div>
                        <div class="col-md-1">
                            <select style="width: 80px" name="month">
                                {% for i in 1..12 %}
                                    {% if i|length == 1 %}
                                        <option value="0{{ i }}">{{ i }}</option>
                                    {% else %}
                                        <option value="{{ i }}">{{ i }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div style="text-align: right" class="col-md-1">Rok:</div>
                        <div class="col-md-1">
                            <select style="width: 80px" name="year">
                                <option value="2017">2017</option>
                                <option value="2018">2018</option>
                            </select>
                        </div>
                    </div>
                    <div class="row"><br></div>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-1">
                            <button style="width: 80px" value="sort">Filtruj</button>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>
        <div class="row">
            <br>
            <br>
        </div>
    </div>
</div>


{% block content %}

{% endblock %}

{% block login %}

{% endblock %}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>


</body>

</html>