{% extends "base.html.twig" %}

{% block content %}

    <div>
    <div class="container-fluid" style="text-align: left">
        <fieldset>
            <legend>Artykuły</legend>
            <button id="politic">Polityka</button>
            <button id="music">Muzyka</button>
            <button id="sport">Sport</button>
            <button id="anything">Ogólne</button>
        </fieldset>
    </div>
    <div class="row">
        <br>
        <br>
    </div>

    <div class="container-fluid" style="text-align: left">
        <fieldset>
            <legend>Subskrypcja</legend>

            <div>
                <div class="row">
                    <div>
                        {% if session is null %}
                            <div class="row">
                                <div class="signIn col-md-2 col-md-offset-5">
                                    <a class="btn btn-block btn-social btn-facebook" href="{{ loginToFb }}"><i
                                                class="fa fa-facebook"></i>Log
                                        in
                                        with Facebook!</a>
                                    <a class="btn btn-block btn-social btn-google" href="{{ loginToG_plus }}"> <i
                                                class="fa fa-google"></i>
                                        Sign
                                        in with Google</a>
                                    <a class="btn btn-block btn-social btn-github"> <i class="fa fa-github"></i> Sign in
                                        with
                                        GitHub</a>
                                </div>
                            </div>
                        {% else %}
                            {% if userData.blocked == 0 %}
                                {% include 'checkKindToEmailLogginUser.html.twig' %}
                            {% else %}
                                <div style="text-align: center">
                                    <b style="text-align: center" class="locked">Nie masz aktywnej subskrypcji. <br>Zostałeś zablokowany, skontaktuj się z
                                        adminem w celu wyjaśnienia sytuacji.</b>
                                </div>
                            {% endif %}
                            {% if userData.isAdmin == 1 %}
                                <div class="container-fluid">
                                    <fieldset>
                                        <legend>Administracja</legend>
                                        <div class="row col-md-1">
                                            <div class="col-md-1">
                                                {% for user in allUser %}
                                                    <ul>
                                                        <li>{{ user.email }}
                                                            {% if user.blocked == 1 %}
                                                                <b class="locked">Zablokowany</b>
                                                                <a class="lock" href="userUnBan/id/{{ user.id }}">Odblokuj</a>
                                                            {% else %}
                                                                <a class="unlock" href="userBan/id/{{ user.id }}">Zablokuj</a>
                                                            {% endif %}
                                                        </li>
                                                    </ul>
                                                {% endfor %}

                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            {% endif %}
                            {% if get['message'] %}
                                {{ get['message'] }}<br>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>

        </fieldset>
    </div>

    <div id="searchArt">

    </div>
    <hr>
    <div class="politic"></div>
    <div class="music"></div>
    <div class="sport"></div>
    <div class="anything"></div>

{% endblock %}