{% extends "base.html.twig" %}

{% block content %}
    {% for kind in apiResult %}
        <ul>
            <li><img style="height:200px; width:200px"  src="{{ kind.img }}">
            <h3><a href="{{ kind.link }}" alt="{{ kind.title }}">{{ kind.title }}</a></h3></li>
            {{ kind.description }}
            <hr>
        </ul>
    {% endfor %}

{% endblock %}