{% extends "base.html.twig" %}

{% block content %}
    {% for kind in apiResult %}
        <br>
        <a target="_blank" href="{{ kind.link }}">
            <div class="tile">
                <table>
                    <col class="imgCol">
                    <col class="contentCol">
                    <tr>
                        <td rowspan="5">
                            <div class="img"><img src="{{ kind.img }}"/></div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="title">{{ kind.title }}</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="description">{{ kind.description }}</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="link">{{ kind.link }}</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="date">{{ kind.date }}</div>
                        </td>
                    </tr>
                </table>
            </div>
        </a>
        <hr>
    {% endfor %}

{% endblock %}